/* INICIO INDEX INDEX / PERFIL / VAGAS / CONTATO */
.conteiner-principal

/*  DEFINIÇÕES DO CONTEINER PRINCIPAL */
    {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    background-color: #0b0c23;
}

.conteiner-segundario

/* DISTANCIA DA BORDA INFERIOR DO PADDING */
    {
    padding-bottom: 2rem;
}

.navbar

/* DEFINIÇÕES DA BARRA DE NAVEGAÇÃO */
    {
    background-color: rgb(169, 91, 149, 0.6);
    transition: background-color 0.3s;
}

.navbar-solido

/* COR DA BARRA DE NAVEGAÇÃO QUANDO ESTIVER FIXA */
    {
    background-color: #a95b95;
}

.rodape

/* COR DO RODAPÉ */
    {
    background-color: #a95b95;
}

.titulos

/* COR E FONTE DOS TITULOS */
    {
    color: #c6bfee;
    font-family: 'Arial Narrow';

}

.textos

/* COR E FONTE DOS TEXTOS */
    {
    color: #dad8e9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botoes

/* COR E DOS BOTÕES */
    {
    background-color: #a95b95;
}

.zoom-conteiner

/* ZOOM NA IMAGEM DO TOPO DAS PAGINAS E DOS CARDS NO FINAL DA PAGINA INDEX */
    {
    overflow: hidden;
}

.zoom-conteiner img

/* VELOCIDADE DO ZOOM */
    {
    transition: transform 4s ease;
}

.zoom-conteiner:hover img

/* ESCALA DO ZOOM */
    {
    transform: scale(1.2);
}

.img-com-texto

/* DEFINIÇÕES PARA CENTRALIZAR O TEXTO DENTRO DA IMAGEM DO CARDS NO INDEX*/
    {
    position: relative;
    max-width: 100%;
}

.img-com-texto img

/* DEFINIÇÕES PARA CENTRALIZAR O TEXTO DENTRO DA IMAGEM DO CARDS NO INDEX*/
    {
    width: 100%;
    height: auto;
    display: block;
}

.texto-sobre-img /* DEFINIÇÕES PARA CENTRALIZAR O TEXTO DENTRO DA IMAGEM DO CARDS NO INDEX*/ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #dad8e9;
    
}

.texto-centro-conteiner /* DEFINIÇÕES PARA CENTRALIZAR O TEXTOS E INPUTS NO CENTRO DO CONTEINER*/ {
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
}

/* FIM INDEX */

/* INICIO PERFIL / VAGAS / CONTATO */
.conteiner-img-opacidade

/* DEFINIÇÕES PARA DIMINUIR A OPACIDADE DO BACKGROUND*/
    {
    position: relative;

}

.img-opacidade

/* DEFINIÇÕES PARA DIMINUIR A OPACIDADE DO BACKGROUND*/
    {
    object-fit: cover;
}

.opacidade-img

/* DEFINIÇÕES PARA DIMINUIR A OPACIDADE DO BACKGROUND*/
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(169, 91, 149, 0.4);
}

.largura-input

/* DEFINIÇÕES DA LARGURA DO INPUT TYPE TEXT */
    {
    width: 600px;
    text-align: center;
}

/* FIM PERFIL / VAGAS / CONTATO */